html, body{
    margin: 0;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
}

.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.navbar{
  display: flex;
  width: 10v0w;
  background-color: rgb(10, 15, 22);
  padding: 1rem;
  position: relative;
}
.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span{
  font-family: "Bevan", serif;
  color: white;
  text-align: center;
}
.navigations{
  position: absolute;
  right: 2rem;
  top: 1/5rem;
}
.navigations ul{
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navigations li:nth-child(2) a{
  color: #9ADE7B;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-thickness: .1rem;
}
.navigations a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition:  .5s ease-in-out ;
  text-decoration-color: #9ADE7B;
}
.navigations a:hover{
  color: #9ADE7B;
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-thickness: .1rem;
}
.navigations li:nth-child(2) a:hover{
  font-size: 20px;
}
.services a:hover .navigations a{
  text-decoration: none;
} 

a i{
  color: #9ADE7B;
  margin-right: .5rem;
}
.logo img{
  width: 10vw;
  clip-path: circle();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gas-delivery{
    border: 1px solid;
    width: 100%;
    height: 30rem;
    display: flex;
  }
  .header{
    width: 100%;
    height: 20rem;
  }
  .header-img img{
    width: 100%;
    height: 18rem;
    
  }

  .content{
    display: flex;
    margin-top: 1rem;
  }
  .service{
    flex-basis: 60%;
    /* border: 1px solid; */
    padding: 1rem;
    margin-right: 2rem;
  }
  .sidebar{
    flex-basis: 40%;
    /* border: 1px solid; */
  }

.topic{
    display: flex;
    flex-direction: column;
    border: none;
    height: 50rem;
    padding-left: 3rem;
    width: 100%;
}

.topic h1{
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    margin-bottom: .5rem;
    letter-spacing: 2px;
}

.topic img{
    width: 100%;
    height: 20rem;
    align-self: center;
    margin-bottom: 2rem;
}

.topic p {
    margin-bottom: 2rem;
}


.sidebar{
  margin-top: rem;
  padding: 1rem 0 0 3rem;
  position: relative;
}

.service-list{
  display: flex;
}
.service-list ul{
  list-style: none;
}
.service-list li{
  margin-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 600;
}
.service-list li a{
  text-decoration: none;
  color: #9ADE7B;
}

